
/* = Buttons
---------------------------------------------------- */

.button{
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #55621d;
  display: inline-block;
  border-radius: 5px;
  padding: 7px 5px;
  cursor: pointer;
  color: #fff;
}

.button:hover,
.button:active,
.button:focus{
  text-decoration: none;
  color: #fff;
}

.button.small{
  padding: 0 5px;
  font-size: 11px;
}

.button.big{
  height: 18px;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
}

.button.align-left{
  float: left;
}

.button.align-center{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.button.align-right{
  float: right;
}

/* = Columns
---------------------------------------------------- */

/* basic columns */

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth{
  margin-right: 4%;
  float: left;
}
.one_half{
  width: 48%;
}
.one_third{
  width: 30.5666%;
}
.two_third{
  width: 65.2332%;
}
.one_fourth{
  width: 22%;
}
.two_fourth{
  width: 48%;
}
.three_fourth{
  width: 74%;
}
.one_fifth{
  width: 16.8%;
}
.two_fifth{
  width: 37.6%;
}
.three_fifth{
  width: 58.4%;
}
.four_fifth{
  width: 79.2%;
}
.one_sixth{
  width: 13.3333%;
}
.two_sixth{
  width: 30.6666%;
}
.three_sixth{
  width: 47.9998%;
}
.four_sixth{
  width: 65.3332%;
}
.five_sixth{
  width: 82.6665%;
}
.last{
  margin-right: 0 !important;
  clear: right;
}

/* two level columns */

.one_half .one_half{
  margin-right: 8.3333%;
  width: 45.8333%;
}
.one_half .one_third{
  margin-right: 8.3333%;
  width: 27.7778%;
}
.one_half .two_third{
  margin-right: 8.3333%;
  width: 63.8889%;
}
.two_third .one_third{
  margin-right: 6.1224%;
  width: 29.2517%;
}
.two_third .two_third{
  margin-right: 6.1224%;
  width: 64.6258%;
}
.two_third .one_fourth{
  margin-right: 6.1224%;
  width: 20.4082%;
}

/* = Text
---------------------------------------------------- */

/* size */

.font-10 { font-size: 10px !important; line-height: 16px !important; }
.font-11 { font-size: 11px !important; line-height: 16px !important; }
.font-12 { font-size: 12px !important; line-height: 17px !important; }
.font-13 { font-size: 13px !important; line-height: 18px !important; }
.font-14 { font-size: 14px !important; line-height: 18px !important; }
.font-15 { font-size: 15px !important; line-height: 18px !important; }
.font-16 { font-size: 16px !important; line-height: 19px !important; }
.font-17 { font-size: 17px !important; line-height: 20px !important; }
.font-18 { font-size: 18px !important; line-height: 21px !important; }
.font-19 { font-size: 19px !important; line-height: 22px !important; }
.font-20 { font-size: 20px !important; line-height: 23px !important; }
.font-21 { font-size: 21px !important; line-height: 24px !important; }
.font-22 { font-size: 22px !important; line-height: 25px !important; }

.small{
  font-size: 80%;
}

/* color */

.green{
  color: #324a00 !important;
}

.white{
  color: #ffffff !important;
}

.yellow{
  color: #fdf8ad !important;
}

/* style */

.caps{
  text-transform: uppercase;
}

.underline{
  text-decoration: underline;
}