<div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title"><strong>Работен календар</strong></h3>
  </div>

  <div class="box-body">
    <div class="col-md-8" id='calendar'></div>
    <div class="col-md-4">
      <!--<li ng-click="Calendar.current = event.title" ng-repeat="case in Calendar.cases">-->
        <!--{{case.title}} - {{case.start | date: "dd.MM.yyyy / HH:mm"}}-->
      <!--</li>-->
      <!--<div>-->
        <!--<input ng-model="Calendar.current">-->
      <!--</div>-->
      <label class="text-red pull-right">
        <i class="fa fa-warning"></i> Променете датата за насрочване на дело като го влачите с мишката до желаната дата
      </label>
    </div>
  </div>
</div>